*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
  font-family: 'Arial', sans-serif;
}

.simulator{
  padding: 20px;
  border: 3px solid gold;
  border-radius: 8px;
}

.container{
  width: 500px;
  display: flex;
  flex-direction: column;
}

h3{
  color: #6b7900;
  text-transform: uppercase;
  font-size: 1.6em;
  margin-bottom: 20px;
  text-align: center;
}

.form-simulator{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-simulator h4{
  font-size: 1.3em;
  text-align: center;
  color: #9aa600;
}

.form-simulator div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-simulator input,
.form-simulator select{
  width: 100%;
  height: 30px;
  border: 2px solid #3c4c00;
  border-radius: 8px;
  padding-left: 10px;
  outline: 0;
}

button{
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #3c4c00;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

button:hover{
  background-color: #3c4c00;
  color: #fff;
}

.simulator span{
  color: #ff0000;
  font-size: 0.875em;
}

.simulator input.error-input{
  border: 2px solid #ff0000;
}

.second-page{
  display: none;
}

.second-page p{
  margin-bottom: 20px;
  line-height: 1.5;
}